body {
  background-image: url("https://images3.alphacoders.com/920/920274.jpg");
  background-size: cover;
  height: 100vh;
}

/* classi JS */

.square {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square.azure {
  background-color: aquamarine;
}

.square.red {
  background-color: red;
}

.width-350,
.width-450,
.width-500 {
  margin: 0 auto;
  margin: 0 auto;
  margin: 0 auto;
}

.width-350 {
  width: 350px;
}

.width-450 {
  width: 450px;
}

.width-500 {
  width: 500px;
}

.lose-body {
  background-color: rgba(218, 24, 24, 0.7);

}

.win-body {
  background-color: rgba(24, 212, 218, 0.7);
}

.lose-body,
.win-body {
  height: 100vh;
  position: relative;
}

.lose-msg,
.win-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.lose-msg > div,
.win-msg > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
}

.lose-msg  button {
  background-color: crimson;
}

.win-msg  button {
  background-color: aquamarine;
}

.hide {
  display: none;
}
